<ul class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-6">
    <app-pokemon-list-item *ngFor="let pokemon of pokemons" [pokemon]="pokemon">
    </app-pokemon-list-item>
  </ul>
  
  
  

