<li *ngIf="pokemon" class="mb-3 shadow-2xl p-4 bg-blue-50 relative">
    <app-catch-pokemon-button [pokemonName]="pokemon.name"></app-catch-pokemon-button>
    <section>
        <span class="text-3xl"> {{ pokemon.id }}</span>
        <span class="text-3xl"> {{ pokemon.name }}</span>
        <img [src]="pokemon.image" [alt]="pokemon.image"/>
    </section>
 </li>

