<nav class="bg-yellow-500 flex justify-between items-center p-4 sticky top-0 w-full z-50" >
    <span class="font-bold">Pokemons</span>

    <ng-container *ngIf="trainer !== undefined">
        <ul class="flex">
            <li class="px-4">
                <a routerLink="/trainer">Trainer profile</a>
            </li>
            <li class="px-4">
                <a routerLink="/pokemons">Pokemon cataloque</a>
            </li>
        </ul>

    </ng-container>
    
</nav>