<aside class="absolute top-4 right-4">
    <button
      (click)="onCatchClick()"
      class="bg-blue-800 text-yellow-50 rounded-md p-2"
      type="button"
    >
      <ng-container *ngIf="isTrainer; then test; else caseB"> </ng-container>
      <ng-template #test
        >Remove</ng-template>
      <ng-template #caseB>
        <ng-template *ngIf="isCaught; then caught; else notCaught"></ng-template>
        <ng-template #caught
          >Catched</ng-template>
        <ng-template #notCaught
          >Catch</ng-template>
      </ng-template>
    </button>
  </aside>
  