<header class="container mx-auto p-4">
    <h1 *ngIf="trainer" class=" text-2xl sm:text-6xl text-center">
        Nice to see you {{trainer.username}}!
    </h1> 
</header>
<main class="container mx-auto p-4">
    <h3 class="text-xl m-2 sm:text-2xl">See your pokemons.</h3>
    <div *ngIf="pokemons.length === 0">
        <q class="inline text-xs italic font-bold text-pink-500 sm:text-lg ">No pokemons</q>
    </div>
    <app-pokemon-list [pokemons]="pokemons"></app-pokemon-list>
</main>

 